// Colors 
$color-primary: #f16695;
$color-primary-light: #fdfb80ec;
$color-primary-dark: #ff73c5d5; 

$color-secondary-light: #fcf950;
$color-secondary-dark: #ffbc2b;

$color-tertiary-light: #ffa673;
$color-tertiary-dark: #f56b41;

$color-quadratic-light: rgb(255, 131, 199);
$color-quadratic-dark:rgb(231, 81, 156);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;

// FONT 
$default-font-size: 1.6rem; 

// Grid 
$grid-width: 114rem; 
$gutter-vertical: 8rem; 
$gutter-vertical-small: 6rem; 
$gutter-horizontal: 6rem; 